In [ ]:
import sqlite3
import datetime
import time

bd = sqlite3.connect('velib2.db')

c = bd.cursor()
c.execute("select DISTINCT num from station_dyn" )

list_station=[]

for row in c:
    list_station.append(row[0]) 


for h in range(0,24):
    for m in range(0,51,10):
        #print ("0" if len(str(h))==1 else "")+str(h)+":"+str(m)+("0" if m==0 else "") #144 intervalles par jour
        pass



for station in range(901,902):#len(list_station)):
    c.execute("select nb_velo_dispo, last_update, last_update_date from station_dyn where num = "+str(list_station[station])+" order by last_update")
    
    list_row=c.fetchall()
    
    """i=0
    while list_row!=[]:
        print list_row.pop()
        i+=1
        print str(i)+(" vide" if list_row==[] else " non vide")
    break
    print len(list_row)"""
    
    #print list_row[-1]
    #print time.strftime("%d/%m/%Y-%H:%M:%S", time.gmtime((int(list_row[-1][1])/1000/600)*600))
    #print time.strftime("%d/%m/%Y-%H:%M:%S", time.gmtime((int(list_row[0][1])/1000/600)*600+600))
    
    row=1
    boucle=0
    flow=[]
    for date in range((int(list_row[0][1])/1000/600)*600+600,(int(list_row[-1][1])/1000/600)*600+1,600):
        #print datetime.datetime.fromtimestamp(date).strftime('%H:%M'), datetime.datetime.fromtimestamp(date).strftime('%d-%m')
        
        #implémenter les filtres
        while int(list_row[row][1])/1000<=date:
            #print int(list_row[row][1])/1000,date
            boucle+=1
            row+=1
            
            print boucle, row, list_row[row], time.strftime("%H:%M:%S", time.gmtime((int(list_row[row][1])/1000+3600)-(date+3600)))
        boucle=0

        


c.close()

In [ ]:
import sqlite3
import datetime
import time

bd = sqlite3.connect('velib2.db')

c = bd.cursor()
c.execute("select DISTINCT num from station_dyn" )

list_station=[]

for row in c:
    list_station.append(row[0]) 


for h in range(0,24):
    for m in range(0,51,10):
        #print ("0" if len(str(h))==1 else "")+str(h)+":"+str(m)+("0" if m==0 else "") #144 intervalles par jour
        pass



for station in range(0,1):#len(list_station)):
    c.execute("select nb_velo_dispo, last_update, last_update_date from station_dyn where num = "+str(list_station[station])+" order by last_update")
    
    list_row=c.fetchall()
    
    """i=0
    while list_row!=[]:
        print list_row.pop(0)
        i+=1
        print str(i)+(" vide" if list_row==[] else " non vide")
    print len(list_row)
    break"""
    
    #print list_row[-1]
    #print time.strftime("%d/%m/%Y-%H:%M:%S", time.gmtime((int(list_row[-1][1])/1000/600)*600))
    #print time.strftime("%d/%m/%Y-%H:%M:%S", time.gmtime((int(list_row[0][1])/1000/600)*600+600))
    
    row=0
    boucle=0
    flow=[]
    date = (int(list_row[0][1])/1000/600)*600+600
    #for date in range((int(list_row[0][1])/1000/600)*600+600,(int(list_row[-1][1])/1000/600)*600+1,600):
        #print datetime.datetime.fromtimestamp(date).strftime('%H:%M'), datetime.datetime.fromtimestamp(date).strftime('%d-%m')
        
        #implémenter les filtres
    
    #current_row=list_row.pop()    
    while list_row!=[]:
        #row+=1
        #print time.strftime("%H:%M:%S", time.gmtime(date))
        #print time.strftime("%H:%M:%S", time.gmtime(int(list_row.pop(0)[1])/1000))
        #break
        
        current_row=list_row.pop(0)

        row+=1
        if int(current_row[1])/1000<=date:
            boucle+=1
        #print int(list_row[row][1])/1000,date
            #print "date = "+str(time.strftime("%H:%M:%S", time.gmtime(date+3600-600)))
            #print "current_row = "+str(time.strftime("%H:%M:%S", time.gmtime((int(current_row[1])/1000+3600))))
            
            print boucle, row, current_row, time.strftime("%H:%M:%S", time.gmtime((int(current_row[1])/1000+3600)-(date+3600-600)))
        else:
            while int(current_row[1])/1000>date:
                date+=600
            
            boucle=1
            print boucle, row, current_row, time.strftime("%H:%M:%S", time.gmtime((int(current_row[1])/1000+3600)-(date+3600-600)))

            #print boucle, row, current_row, time.strftime("%H:%M:%S", time.gmtime((int(current_row[1])/1000+3600)-(date+3600)))

        


c.close()

In [46]:
import sqlite3
import datetime
import time
from time import strptime

bd = sqlite3.connect('velib2.db')

c = bd.cursor()
c.execute("select DISTINCT num from station_dyn" )

list_station=[]

for row in c:
    list_station.append(row[0]) 


for h in range(0,24):
    for m in range(0,51,10):
        #print ("0" if len(str(h))==1 else "")+str(h)+":"+str(m)+("0" if m==0 else "") #144 intervalles par jour
        pass



for station in range(901,902):#15003,15004):#0,1):#len(list_station)):
    c.execute("select nb_velo_dispo, last_update, last_update_date from station_dyn where num = "+str(15003)+" order by last_update")
    #c.execute("select nb_velo_dispo, last_update, last_update_date from station_dyn where num = "+str(list_station[station])+" order by last_update")
    
    list_row=c.fetchall()
    
    """i=0
    while list_row!=[]:
        print list_row.pop(0)
        i+=1
        print str(i)+(" vide" if list_row==[] else " non vide")
    print len(list_row)
    break"""
    
    #print list_row[-1]
    #print time.strftime("%d/%m/%Y-%H:%M:%S", time.gmtime((int(list_row[-1][1])/1000/600)*600))
    #print time.strftime("%d/%m/%Y-%H:%M:%S", time.gmtime((int(list_row[0][1])/1000/600)*600+600))
    
    row=1
    boucle=0
    in_flow=0
    out_flow=0
    date = (int(list_row[0][1])/1000/600)*600+600
    #for date in range((int(list_row[0][1])/1000/600)*600+600,(int(list_row[-1][1])/1000/600)*600+1,600):
        #print datetime.datetime.fromtimestamp(date).strftime('%H:%M'), datetime.datetime.fromtimestamp(date).strftime('%d-%m')
        
        #implémenter les filtres
    prec_row=list_row[0]
    current_row=list_row.pop(0) #Erreur si la liste est vide
    while list_row!=[]:
        current_row=list_row.pop(0)
        row+=1
        
        flow=current_row[0]-prec_row[0]


        
        if int(current_row[1])/1000<date:
            boucle+=1
            in_flow += flow if flow>0 else 0
            out_flow += flow if flow<0 else 0
        else:
            while int(current_row[1])/1000>=date:
                date+=600
            print "** "+str((time.gmtime((int(prec_row[1])/1000+3600))))
            boucle=1
            in_flow = flow if flow>0 else 0
            out_flow = flow if flow<0 else 0
        
        print boucle, row, current_row, time.strftime("%H:%M:%S", time.gmtime((int(current_row[1])/1000+3600)-(date+3600-600)))
        print "intervalle : ["+str(time.strftime("%H:%M", time.gmtime(date+3600-600)))+","+str(time.strftime("%H:%M", time.gmtime(date+3600)))+"["+" -  n° : "+str(int(time.strftime("%H", time.gmtime(date+3600-600)))*6+int(time.strftime("%M", time.gmtime(date+3600-600)))/10)
        
        print "in flow : "+str(in_flow)+" - out flow : "+str(out_flow)
        
        prec_row=current_row



c.close()

** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=1, tm_min=48, tm_sec=5, tm_wday=1, tm_yday=73, tm_isdst=0)
1 2 (0, u'1489453088000', u'2017-03-14 01:58:08') 00:08:08
intervalle : [01:50,02:00[ -  n° : 11
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=1, tm_min=58, tm_sec=8, tm_wday=1, tm_yday=73, tm_isdst=0)
1 3 (0, u'1489453692000', u'2017-03-14 02:08:12') 00:08:12
intervalle : [02:00,02:10[ -  n° : 12
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=2, tm_min=8, tm_sec=12, tm_wday=1, tm_yday=73, tm_isdst=0)
1 4 (0, u'1489454295000', u'2017-03-14 02:18:15') 00:08:15
intervalle : [02:10,02:20[ -  n° : 13
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=2, tm_min=18, tm_sec=15, tm_wday=1, tm_yday=73, tm_isdst=0)
1 5 (0, u'1489454899000', u'2017-03-14 02:28:19') 00:08:19
intervalle : [02:20,02:30[ -  n° : 14
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=2, tm_min=28, tm_sec=19, tm_wday=1, tm_yday=73, tm_isdst=0)
1 6 (0, u'1489455502000', u'2017-03-14 02:38:22') 00:08:22
intervalle : [02:30,02:40[ -  n° : 15
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=2, tm_min=38, tm_sec=22, tm_wday=1, tm_yday=73, tm_isdst=0)
1 7 (0, u'1489456106000', u'2017-03-14 02:48:26') 00:08:26
intervalle : [02:40,02:50[ -  n° : 16
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=2, tm_min=48, tm_sec=26, tm_wday=1, tm_yday=73, tm_isdst=0)
1 8 (0, u'1489456710000', u'2017-03-14 02:58:30') 00:08:30
intervalle : [02:50,03:00[ -  n° : 17
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=2, tm_min=58, tm_sec=30, tm_wday=1, tm_yday=73, tm_isdst=0)
1 9 (0, u'1489457297000', u'2017-03-14 03:08:17') 00:08:17
intervalle : [03:00,03:10[ -  n° : 18
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=3, tm_min=8, tm_sec=17, tm_wday=1, tm_yday=73, tm_isdst=0)
1 10 (0, u'1489457482000', u'2017-03-14 03:11:22') 00:01:22
intervalle : [03:10,03:20[ -  n° : 19
in flow : 0 - out flow : 0
2 11 (0, u'1489457491000', u'2017-03-14 03:11:31') 00:01:31
intervalle : [03:10,03:20[ -  n° : 19
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=3, tm_min=11, tm_sec=31, tm_wday=1, tm_yday=73, tm_isdst=0)
1 12 (0, u'1489458094000', u'2017-03-14 03:21:34') 00:01:34
intervalle : [03:20,03:30[ -  n° : 20
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=3, tm_min=21, tm_sec=34, tm_wday=1, tm_yday=73, tm_isdst=0)
1 13 (0, u'1489458698000', u'2017-03-14 03:31:38') 00:01:38
intervalle : [03:30,03:40[ -  n° : 21
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=3, tm_min=31, tm_sec=38, tm_wday=1, tm_yday=73, tm_isdst=0)
1 14 (0, u'1489459302000', u'2017-03-14 03:41:42') 00:01:42
intervalle : [03:40,03:50[ -  n° : 22
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=3, tm_min=41, tm_sec=42, tm_wday=1, tm_yday=73, tm_isdst=0)
1 15 (0, u'1489459906000', u'2017-03-14 03:51:46') 00:01:46
intervalle : [03:50,04:00[ -  n° : 23
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=3, tm_min=51, tm_sec=46, tm_wday=1, tm_yday=73, tm_isdst=0)
1 16 (0, u'1489460509000', u'2017-03-14 04:01:49') 00:01:49
intervalle : [04:00,04:10[ -  n° : 24
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=4, tm_min=1, tm_sec=49, tm_wday=1, tm_yday=73, tm_isdst=0)
1 17 (0, u'1489461113000', u'2017-03-14 04:11:53') 00:01:53
intervalle : [04:10,04:20[ -  n° : 25
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=4, tm_min=11, tm_sec=53, tm_wday=1, tm_yday=73, tm_isdst=0)
1 18 (0, u'1489461716000', u'2017-03-14 04:21:56') 00:01:56
intervalle : [04:20,04:30[ -  n° : 26
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=4, tm_min=21, tm_sec=56, tm_wday=1, tm_yday=73, tm_isdst=0)
1 19 (0, u'1489462320000', u'2017-03-14 04:32:00') 00:02:00
intervalle : [04:30,04:40[ -  n° : 27
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=4, tm_min=32, tm_sec=0, tm_wday=1, tm_yday=73, tm_isdst=0)
1 20 (0, u'1489462923000', u'2017-03-14 04:42:03') 00:02:03
intervalle : [04:40,04:50[ -  n° : 28
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=4, tm_min=42, tm_sec=3, tm_wday=1, tm_yday=73, tm_isdst=0)
1 21 (0, u'1489463527000', u'2017-03-14 04:52:07') 00:02:07
intervalle : [04:50,05:00[ -  n° : 29
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=4, tm_min=52, tm_sec=7, tm_wday=1, tm_yday=73, tm_isdst=0)
1 22 (0, u'1489464130000', u'2017-03-14 05:02:10') 00:02:10
intervalle : [05:00,05:10[ -  n° : 30
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=5, tm_min=2, tm_sec=10, tm_wday=1, tm_yday=73, tm_isdst=0)
1 23 (0, u'1489464734000', u'2017-03-14 05:12:14') 00:02:14
intervalle : [05:10,05:20[ -  n° : 31
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=5, tm_min=12, tm_sec=14, tm_wday=1, tm_yday=73, tm_isdst=0)
1 24 (0, u'1489465338000', u'2017-03-14 05:22:18') 00:02:18
intervalle : [05:20,05:30[ -  n° : 32
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=5, tm_min=22, tm_sec=18, tm_wday=1, tm_yday=73, tm_isdst=0)
1 25 (1, u'1489465850000', u'2017-03-14 05:30:50') 00:00:50
intervalle : [05:30,05:40[ -  n° : 33
in flow : 1 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=5, tm_min=30, tm_sec=50, tm_wday=1, tm_yday=73, tm_isdst=0)
1 26 (1, u'1489466454000', u'2017-03-14 05:40:54') 00:00:54
intervalle : [05:40,05:50[ -  n° : 34
in flow : 0 - out flow : 0
2 27 (2, u'1489466566000', u'2017-03-14 05:42:46') 00:02:46
intervalle : [05:40,05:50[ -  n° : 34
in flow : 1 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=5, tm_min=42, tm_sec=46, tm_wday=1, tm_yday=73, tm_isdst=0)
1 28 (2, u'1489467170000', u'2017-03-14 05:52:50') 00:02:50
intervalle : [05:50,06:00[ -  n° : 35
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=5, tm_min=52, tm_sec=50, tm_wday=1, tm_yday=73, tm_isdst=0)
1 29 (2, u'1489467773000', u'2017-03-14 06:02:53') 00:02:53
intervalle : [06:00,06:10[ -  n° : 36
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=6, tm_min=2, tm_sec=53, tm_wday=1, tm_yday=73, tm_isdst=0)
1 30 (2, u'1489468377000', u'2017-03-14 06:12:57') 00:02:57
intervalle : [06:10,06:20[ -  n° : 37
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=6, tm_min=12, tm_sec=57, tm_wday=1, tm_yday=73, tm_isdst=0)
1 31 (2, u'1489468945000', u'2017-03-14 06:22:25') 00:02:25
intervalle : [06:20,06:30[ -  n° : 38
in flow : 0 - out flow : 0
2 32 (3, u'1489468947000', u'2017-03-14 06:22:27') 00:02:27
intervalle : [06:20,06:30[ -  n° : 38
in flow : 1 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=6, tm_min=22, tm_sec=27, tm_wday=1, tm_yday=73, tm_isdst=0)
1 33 (3, u'1489469551000', u'2017-03-14 06:32:31') 00:02:31
intervalle : [06:30,06:40[ -  n° : 39
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=6, tm_min=32, tm_sec=31, tm_wday=1, tm_yday=73, tm_isdst=0)
1 34 (3, u'1489470192000', u'2017-03-14 06:43:12') 00:03:12
intervalle : [06:40,06:50[ -  n° : 40
in flow : 0 - out flow : 0
2 35 (4, u'1489470235000', u'2017-03-14 06:43:55') 00:03:55
intervalle : [06:40,06:50[ -  n° : 40
in flow : 1 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=6, tm_min=43, tm_sec=55, tm_wday=1, tm_yday=73, tm_isdst=0)
1 36 (4, u'1489470839000', u'2017-03-14 06:53:59') 00:03:59
intervalle : [06:50,07:00[ -  n° : 41
in flow : 0 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=6, tm_min=53, tm_sec=59, tm_wday=1, tm_yday=73, tm_isdst=0)
1 37 (4, u'1489471442000', u'2017-03-14 07:04:02') 00:04:02
intervalle : [07:00,07:10[ -  n° : 42
in flow : 0 - out flow : 0
2 38 (5, u'1489471729000', u'2017-03-14 07:08:49') 00:08:49
intervalle : [07:00,07:10[ -  n° : 42
in flow : 1 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=7, tm_min=8, tm_sec=49, tm_wday=1, tm_yday=73, tm_isdst=0)
1 39 (6, u'1489471823000', u'2017-03-14 07:10:23') 00:00:23
intervalle : [07:10,07:20[ -  n° : 43
in flow : 1 - out flow : 0
2 40 (5, u'1489472244000', u'2017-03-14 07:17:24') 00:07:24
intervalle : [07:10,07:20[ -  n° : 43
in flow : 1 - out flow : -1
3 41 (6, u'1489472247000', u'2017-03-14 07:17:27') 00:07:27
intervalle : [07:10,07:20[ -  n° : 43
in flow : 2 - out flow : -1
4 42 (7, u'1489472362000', u'2017-03-14 07:19:22') 00:09:22
intervalle : [07:10,07:20[ -  n° : 43
in flow : 3 - out flow : -1
5 43 (7, u'1489472385000', u'2017-03-14 07:19:45') 00:09:45
intervalle : [07:10,07:20[ -  n° : 43
in flow : 3 - out flow : -1
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=7, tm_min=19, tm_sec=45, tm_wday=1, tm_yday=73, tm_isdst=0)
1 44 (8, u'1489472852000', u'2017-03-14 07:27:32') 00:07:32
intervalle : [07:20,07:30[ -  n° : 44
in flow : 1 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=7, tm_min=27, tm_sec=32, tm_wday=1, tm_yday=73, tm_isdst=0)
1 45 (10, u'1489473191000', u'2017-03-14 07:33:11') 00:03:11
intervalle : [07:30,07:40[ -  n° : 45
in flow : 2 - out flow : 0
2 46 (11, u'1489473392000', u'2017-03-14 07:36:32') 00:06:32
intervalle : [07:30,07:40[ -  n° : 45
in flow : 3 - out flow : 0
3 47 (12, u'1489473570000', u'2017-03-14 07:39:30') 00:09:30
intervalle : [07:30,07:40[ -  n° : 45
in flow : 4 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=7, tm_min=39, tm_sec=30, tm_wday=1, tm_yday=73, tm_isdst=0)
1 48 (13, u'1489474083000', u'2017-03-14 07:48:03') 00:08:03
intervalle : [07:40,07:50[ -  n° : 46
in flow : 1 - out flow : 0
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=7, tm_min=48, tm_sec=3, tm_wday=1, tm_yday=73, tm_isdst=0)
1 49 (14, u'1489474258000', u'2017-03-14 07:50:58') 00:00:58
intervalle : [07:50,08:00[ -  n° : 47
in flow : 1 - out flow : 0
2 50 (13, u'1489474335000', u'2017-03-14 07:52:15') 00:02:15
intervalle : [07:50,08:00[ -  n° : 47
in flow : 1 - out flow : -1
3 51 (14, u'1489474463000', u'2017-03-14 07:54:23') 00:04:23
intervalle : [07:50,08:00[ -  n° : 47
in flow : 2 - out flow : -1
4 52 (13, u'1489474494000', u'2017-03-14 07:54:54') 00:04:54
intervalle : [07:50,08:00[ -  n° : 47
in flow : 2 - out flow : -2
5 53 (14, u'1489474630000', u'2017-03-14 07:57:10') 00:07:10
intervalle : [07:50,08:00[ -  n° : 47
in flow : 3 - out flow : -2
6 54 (15, u'1489474665000', u'2017-03-14 07:57:45') 00:07:45
intervalle : [07:50,08:00[ -  n° : 47
in flow : 4 - out flow : -2
7 55 (15, u'1489474760000', u'2017-03-14 07:59:20') 00:09:20
intervalle : [07:50,08:00[ -  n° : 47
in flow : 4 - out flow : -2
8 56 (15, u'1489474796000', u'2017-03-14 07:59:56') 00:09:56
intervalle : [07:50,08:00[ -  n° : 47
in flow : 4 - out flow : -2
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=7, tm_min=59, tm_sec=56, tm_wday=1, tm_yday=73, tm_isdst=0)
1 57 (16, u'1489474871000', u'2017-03-14 08:01:11') 00:01:11
intervalle : [08:00,08:10[ -  n° : 48
in flow : 1 - out flow : 0
2 58 (17, u'1489474941000', u'2017-03-14 08:02:21') 00:02:21
intervalle : [08:00,08:10[ -  n° : 48
in flow : 2 - out flow : 0
3 59 (15, u'1489474963000', u'2017-03-14 08:02:43') 00:02:43
intervalle : [08:00,08:10[ -  n° : 48
in flow : 2 - out flow : -2
4 60 (16, u'1489475245000', u'2017-03-14 08:07:25') 00:07:25
intervalle : [08:00,08:10[ -  n° : 48
in flow : 3 - out flow : -2
5 61 (15, u'1489475353000', u'2017-03-14 08:09:13') 00:09:13
intervalle : [08:00,08:10[ -  n° : 48
in flow : 3 - out flow : -3
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=8, tm_min=9, tm_sec=13, tm_wday=1, tm_yday=73, tm_isdst=0)
1 62 (16, u'1489475425000', u'2017-03-14 08:10:25') 00:00:25
intervalle : [08:10,08:20[ -  n° : 49
in flow : 1 - out flow : 0
2 63 (16, u'1489475452000', u'2017-03-14 08:10:52') 00:00:52
intervalle : [08:10,08:20[ -  n° : 49
in flow : 1 - out flow : 0
3 64 (15, u'1489475661000', u'2017-03-14 08:14:21') 00:04:21
intervalle : [08:10,08:20[ -  n° : 49
in flow : 1 - out flow : -1
4 65 (16, u'1489475695000', u'2017-03-14 08:14:55') 00:04:55
intervalle : [08:10,08:20[ -  n° : 49
in flow : 2 - out flow : -1
5 66 (16, u'1489475741000', u'2017-03-14 08:15:41') 00:05:41
intervalle : [08:10,08:20[ -  n° : 49
in flow : 2 - out flow : -1
6 67 (16, u'1489475901000', u'2017-03-14 08:18:21') 00:08:21
intervalle : [08:10,08:20[ -  n° : 49
in flow : 2 - out flow : -1
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=8, tm_min=18, tm_sec=21, tm_wday=1, tm_yday=73, tm_isdst=0)
1 68 (14, u'1489476014000', u'2017-03-14 08:20:14') 00:00:14
intervalle : [08:20,08:30[ -  n° : 50
in flow : 0 - out flow : -2
2 69 (15, u'1489476080000', u'2017-03-14 08:21:20') 00:01:20
intervalle : [08:20,08:30[ -  n° : 50
in flow : 1 - out flow : -2
3 70 (16, u'1489476134000', u'2017-03-14 08:22:14') 00:02:14
intervalle : [08:20,08:30[ -  n° : 50
in flow : 2 - out flow : -2
4 71 (15, u'1489476240000', u'2017-03-14 08:24:00') 00:04:00
intervalle : [08:20,08:30[ -  n° : 50
in flow : 2 - out flow : -3
5 72 (15, u'1489476322000', u'2017-03-14 08:25:22') 00:05:22
intervalle : [08:20,08:30[ -  n° : 50
in flow : 2 - out flow : -3
6 73 (11, u'1489476382000', u'2017-03-14 08:26:22') 00:06:22
intervalle : [08:20,08:30[ -  n° : 50
in flow : 2 - out flow : -7
7 74 (12, u'1489476418000', u'2017-03-14 08:26:58') 00:06:58
intervalle : [08:20,08:30[ -  n° : 50
in flow : 3 - out flow : -7
8 75 (12, u'1489476562000', u'2017-03-14 08:29:22') 00:09:22
intervalle : [08:20,08:30[ -  n° : 50
in flow : 3 - out flow : -7
9 76 (12, u'1489476572000', u'2017-03-14 08:29:32') 00:09:32
intervalle : [08:20,08:30[ -  n° : 50
in flow : 3 - out flow : -7
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=8, tm_min=29, tm_sec=32, tm_wday=1, tm_yday=73, tm_isdst=0)
1 77 (12, u'1489476707000', u'2017-03-14 08:31:47') 00:01:47
intervalle : [08:30,08:40[ -  n° : 51
in flow : 0 - out flow : 0
2 78 (11, u'1489476793000', u'2017-03-14 08:33:13') 00:03:13
intervalle : [08:30,08:40[ -  n° : 51
in flow : 0 - out flow : -1
3 79 (14, u'1489476858000', u'2017-03-14 08:34:18') 00:04:18
intervalle : [08:30,08:40[ -  n° : 51
in flow : 3 - out flow : -1
4 80 (13, u'1489476983000', u'2017-03-14 08:36:23') 00:06:23
intervalle : [08:30,08:40[ -  n° : 51
in flow : 3 - out flow : -2
5 81 (13, u'1489477044000', u'2017-03-14 08:37:24') 00:07:24
intervalle : [08:30,08:40[ -  n° : 51
in flow : 3 - out flow : -2
6 82 (15, u'1489477091000', u'2017-03-14 08:38:11') 00:08:11
intervalle : [08:30,08:40[ -  n° : 51
in flow : 5 - out flow : -2
7 83 (15, u'1489477151000', u'2017-03-14 08:39:11') 00:09:11
intervalle : [08:30,08:40[ -  n° : 51
in flow : 5 - out flow : -2
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=8, tm_min=39, tm_sec=11, tm_wday=1, tm_yday=73, tm_isdst=0)
1 84 (15, u'1489477211000', u'2017-03-14 08:40:11') 00:00:11
intervalle : [08:40,08:50[ -  n° : 52
in flow : 0 - out flow : 0
2 85 (12, u'1489477278000', u'2017-03-14 08:41:18') 00:01:18
intervalle : [08:40,08:50[ -  n° : 52
in flow : 0 - out flow : -3
3 86 (12, u'1489477345000', u'2017-03-14 08:42:25') 00:02:25
intervalle : [08:40,08:50[ -  n° : 52
in flow : 0 - out flow : -3
4 87 (13, u'1489477401000', u'2017-03-14 08:43:21') 00:03:21
intervalle : [08:40,08:50[ -  n° : 52
in flow : 1 - out flow : -3
5 88 (10, u'1489477453000', u'2017-03-14 08:44:13') 00:04:13
intervalle : [08:40,08:50[ -  n° : 52
in flow : 1 - out flow : -6
6 89 (8, u'1489477517000', u'2017-03-14 08:45:17') 00:05:17
intervalle : [08:40,08:50[ -  n° : 52
in flow : 1 - out flow : -8
7 90 (7, u'1489477562000', u'2017-03-14 08:46:02') 00:06:02
intervalle : [08:40,08:50[ -  n° : 52
in flow : 1 - out flow : -9
8 91 (6, u'1489477637000', u'2017-03-14 08:47:17') 00:07:17
intervalle : [08:40,08:50[ -  n° : 52
in flow : 1 - out flow : -10
9 92 (6, u'1489477681000', u'2017-03-14 08:48:01') 00:08:01
intervalle : [08:40,08:50[ -  n° : 52
in flow : 1 - out flow : -10
10 93 (6, u'1489477752000', u'2017-03-14 08:49:12') 00:09:12
intervalle : [08:40,08:50[ -  n° : 52
in flow : 1 - out flow : -10
11 94 (5, u'1489477788000', u'2017-03-14 08:49:48') 00:09:48
intervalle : [08:40,08:50[ -  n° : 52
in flow : 1 - out flow : -11
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=8, tm_min=49, tm_sec=48, tm_wday=1, tm_yday=73, tm_isdst=0)
1 95 (5, u'1489477883000', u'2017-03-14 08:51:23') 00:01:23
intervalle : [08:50,09:00[ -  n° : 53
in flow : 0 - out flow : 0
2 96 (5, u'1489477934000', u'2017-03-14 08:52:14') 00:02:14
intervalle : [08:50,09:00[ -  n° : 53
in flow : 0 - out flow : 0
3 97 (4, u'1489477996000', u'2017-03-14 08:53:16') 00:03:16
intervalle : [08:50,09:00[ -  n° : 53
in flow : 0 - out flow : -1
4 98 (5, u'1489478050000', u'2017-03-14 08:54:10') 00:04:10
intervalle : [08:50,09:00[ -  n° : 53
in flow : 1 - out flow : -1
5 99 (4, u'1489478092000', u'2017-03-14 08:54:52') 00:04:52
intervalle : [08:50,09:00[ -  n° : 53
in flow : 1 - out flow : -2
6 100 (3, u'1489478180000', u'2017-03-14 08:56:20') 00:06:20
intervalle : [08:50,09:00[ -  n° : 53
in flow : 1 - out flow : -3
7 101 (4, u'1489478244000', u'2017-03-14 08:57:24') 00:07:24
intervalle : [08:50,09:00[ -  n° : 53
in flow : 2 - out flow : -3
8 102 (3, u'1489478289000', u'2017-03-14 08:58:09') 00:08:09
intervalle : [08:50,09:00[ -  n° : 53
in flow : 2 - out flow : -4
9 103 (1, u'1489478354000', u'2017-03-14 08:59:14') 00:09:14
intervalle : [08:50,09:00[ -  n° : 53
in flow : 2 - out flow : -6
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=8, tm_min=59, tm_sec=14, tm_wday=1, tm_yday=73, tm_isdst=0)
1 104 (0, u'1489478417000', u'2017-03-14 09:00:17') 00:00:17
intervalle : [09:00,09:10[ -  n° : 54
in flow : 0 - out flow : -1
2 105 (2, u'1489478449000', u'2017-03-14 09:00:49') 00:00:49
intervalle : [09:00,09:10[ -  n° : 54
in flow : 2 - out flow : -1
3 106 (2, u'1489478604000', u'2017-03-14 09:03:24') 00:03:24
intervalle : [09:00,09:10[ -  n° : 54
in flow : 2 - out flow : -1
4 107 (2, u'1489478635000', u'2017-03-14 09:03:55') 00:03:55
intervalle : [09:00,09:10[ -  n° : 54
in flow : 2 - out flow : -1
5 108 (3, u'1489478690000', u'2017-03-14 09:04:50') 00:04:50
intervalle : [09:00,09:10[ -  n° : 54
in flow : 3 - out flow : -1
6 109 (3, u'1489478746000', u'2017-03-14 09:05:46') 00:05:46
intervalle : [09:00,09:10[ -  n° : 54
in flow : 3 - out flow : -1
7 110 (2, u'1489478801000', u'2017-03-14 09:06:41') 00:06:41
intervalle : [09:00,09:10[ -  n° : 54
in flow : 3 - out flow : -2
8 111 (1, u'1489478896000', u'2017-03-14 09:08:16') 00:08:16
intervalle : [09:00,09:10[ -  n° : 54
in flow : 3 - out flow : -3
9 112 (2, u'1489478938000', u'2017-03-14 09:08:58') 00:08:58
intervalle : [09:00,09:10[ -  n° : 54
in flow : 4 - out flow : -3
** time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=9, tm_min=8, tm_sec=58, tm_wday=1, tm_yday=73, tm_isdst=0)
1 113 (2, u'1489479022000', u'2017-03-14 09:10:22') 00:00:22
intervalle : [09:10,09:20[ -  n° : 55
in flow : 0 - out flow : 0
2 114 (3, u'1489479025000', u'2017-03-14 09:10:25') 00:00:25
intervalle : [09:10,09:20[ -  n° : 55
in flow : 1 - out flow : 0
3 115 (3, u'1489479203000', u'2017-03-14 09:13:23') 00:03:23
intervalle : [09:10,09:20[ -  n° : 55
in flow : 1 - out flow : 0
4 116 (4, u'1489479259000', u'2017-03-14 09:14:19') 00:04:19

In [ ]:
import calendar

calendar.mdays # combien de jour par mois ?

calendar.isleap(2000) # est-ce une année bissextile ?

calendar.weekday(2000, 1, 1) # quel jour était cette date ?

calendar.MONDAY, calendar.TUESDAY, calendar.WEDNESDAY, calendar.THURSDAY, calendar.FRIDAY, calendar.SATURDAY, calendar.SUNDAY 

cal = calendar.Calendar()
cal.getfirstweekday()

list(cal.iterweekdays())

list(cal.itermonthdays(2000, 1)) 

list(cal.itermonthdates(2000, 1))

cal.monthdayscalendar(2000, 1)

In [37]:
from datetime import date, datetime
from time import strptime
str_to_datetime = lambda st: datetime(*strptime(st, '%Y-%m-%d %H:%M:%S')[:6])
str_to_datetime('2017-03-14 04:55:03')

datetime.datetime(2017, 3, 14, 4, 55, 3)

In [ ]:
chaine ="2017-03-29 15:00:00"

In [ ]:
valeur = [chaine[:4],chaine[5:7],chaine[8:10]]
print valeur

In [ ]:
cle = ['year','month','day']
print cle

In [55]:
lambda x:datetime.strptime("{0} {1} {2}".format(x['year'],x['month'], x['day']), "%Y %m %d"),axis=1)

SyntaxError: invalid syntax (<ipython-input-55-aee19020c144>, line 1)

In [ ]:
df=['2017-03-29 15:00:00']

In [ ]:
import pandas

In [ ]:
df['2017-03-29 15:00:00'].map(lambda x: datetime.datetime(x.year,x.month,))

In [ ]:
df.map(lambda date: (date.year, date.month, date.day)).collect())

In [39]:
datetime(1984, 1, 1, 0, 0).timetuple()

time.struct_time(tm_year=1984, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=1, tm_isdst=-1)

In [35]:
#datetime.strptime( time.gmtime((int(current_row[1])/1000+3600)),"%H:%M:%S")
time.gmtime(int('1489456710000')/1000)

time.struct_time(tm_year=2017, tm_mon=3, tm_mday=14, tm_hour=1, tm_min=58, tm_sec=30, tm_wday=1, tm_yday=73, tm_isdst=0)

In [34]:
squares = map(lambda x: x**2, range(10))
squares[2]

4

In [10]:
map(lambda a: time.gmtime()[1], [int('1489456710000')/1000,int('1489456710000')/1000])

[3, 3]

In [33]:
map(lambda a: {time.gmtime()[1],time.gmtime()[0]}, [int('1489456710000')/1000])

[{3, 2017}]

In [2]:
import pyspark
sc = pyspark.SparkContext()

In [45]:
from pyspark.mllib.classification import LogisticRegressionWithLBFGS, LogisticRegressionModel, LogisticRegressionWithSGD
from pyspark.mllib.regression import LabeledPoint
parsed_data = [LabeledPoint(0.0, [4.6,3.6,1.0,0.2]),LabeledPoint(0.0, [5.7,4.4,1.5,0.4]),LabeledPoint(1.0, [6.7,3.1,4.4,1.4]),LabeledPoint(0.0, [4.8,3.4,1.6,0.2]),LabeledPoint(2.0, [4.4,3.2,1.3,0.2])]

#model = LogisticRegressionWithSGD.train(sc.parallelize(parsed_data)) # gives error:
# org.apache.spark.SparkException: Input validation failed.

model = LogisticRegressionWithLBFGS.train(sc.parallelize(parsed_data), numClasses=3)  # works OK



model.predict([4.4,3.2,1.3,0.2])

0

In [56]:
# importations des fonctions
from pyspark.mllib.regression import LabeledPoint
from pyspark.mllib.tree import RandomForest
# construction des données
data = [LabeledPoint(0.0, [0.0]),LabeledPoint(0.0, [1.0]),LabeledPoint(1.0, [2.0]),LabeledPoint(1.0, [3.0])]
# distribution de la table
trainingData=sc.parallelize(data)
trainingData.collect()
# Estimation du modèle
model = RandomForest.trainClassifier(
trainingData, 2, {}, 3, seed=42)
model.numTrees()
model.totalNumNodes()
# "Affichage" de la forêt
print model.toDebugString()
# Prévision d’u échantillon
rdd = sc.parallelize([[3.0], [1.0]])
model.predict(rdd).collect()

TreeEnsembleModel classifier with 3 trees

  Tree 0:
    Predict: 1.0
  Tree 1:
    If (feature 0 <= 1.0)
     Predict: 0.0
    Else (feature 0 > 1.0)
     Predict: 1.0
  Tree 2:
    If (feature 0 <= 1.0)
     Predict: 0.0
    Else (feature 0 > 1.0)
     Predict: 1.0

[1.0, 0.0]